* {
    box-sizing: border-box;
    font-family: cursive;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(217deg, rgba(128, 51, 0, 0.747), rgba(255,0,0,0) 70.71%),            
                linear-gradient(127deg, rgb(99, 59, 0), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(94, 0, 0, 0.8), rgba(0,0,255,0) 70.71%);
}

main {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 1000px;
    aspect-ratio: 100 / 56;
    background-color: grey;
    border: 2px solid black;
}
main > div {
    height: 100%;
}
main .oldalso {
    flex: 0 0 15%;
    background-color: gainsboro;
}

#jatekTer {
    flex: 0 0 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

#menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-image: url("kepek/bg.jpg ");
    background-position: center;
    background-size: cover;
    color: yellow;
    gap: 10px;
}
#menu > * {
    flex: 0 0 100%;
    font-size: 20px;
}
#menu input, #menu button {
    background: linear-gradient(217deg, rgba(128, 51, 0, 0.747), rgba(255,0,0,0) 70.71%),            
                linear-gradient(127deg, rgb(99, 59, 0), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(94, 0, 0, 0.8), rgba(0,0,255,0) 70.71%);
    color: yellow;
    flex: 0 0 50%;
}
#indit{
    aspect-ratio: 5 / 1.5;
    color: yellow;
    font-size: 30px;
}



.kocka {
    flex: 0 0 calc(10% - 3px);
    aspect-ratio: 1 / 1;
    background-color: black;
}

.talaj{
    background-image: url("kepek/talaj.png");
    background-position: center;
    background-size: cover;
}

.fal{
    background-image: url("kepek/fal.png");
    background-position: center;
    background-size: cover;
}

.blokad{
    background-image: url("kepek/blokad.png");
    background-position: center;
    background-size: cover;
}

#nemTamogatott {
    display: none;
    width: 100vw;
    text-align: center;
}


#info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex: 0 0 25%;
    font-size: 12px;
    color: yellow;
    font-family: cursive;
}

.jatekos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 0 50%;
}

.gombok{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.elem{
    width: 100px;
    flex: 0 0 calc(33.33% - 10px);
}

footer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

footer a{
    color: yellow;
    font-family: cursive;
    text-decoration: none;
}

footer a:hover{
    animation: horizontal-shaking 0.5s infinite;
    color: rgb(196, 176, 0);
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
  }

@media screen and ((max-width: 500px) or (max-height: 280px)) {
    main {
        display: none;
    }
    #nemTamogatott {
        display: block;
    }
  }


.karakter {
    width: 100%;
    height: 100%;
    background-image: url("kepek/jatekos.gif");
    background-position: center;
    background-size: cover;
    color: yellow;
    font-size: 90%;
    position: relative;
}

.nev {
    width: auto;
    position: absolute;
    width: 200%;
    left: -50%;
    text-align: center;
    cursor: default;
}

.hp {
    font-size: 10px;
}

.ellenseg {
    width: 100%;
    height: 100%;
    background-image: url("kepek/ellenseg.gif");
    background-position: center;
    background-size: cover;
    color: yellow;
    text-align: center;
}