* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 1000px;
    aspect-ratio: 100 / 56;
    background-color: grey;
    background-image: url("kepek/bg.jpg ");
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}
main > div {
    height: 100%;
}
main .oldalso {
    flex: 0 0 15%;
    background-color: gainsboro;
}

#jatekTer {
    flex: 0 0 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

#indit{
    width: 50%;
    height: 20%;
    background: linear-gradient(217deg, rgba(128, 51, 0, 0.747), rgba(255,0,0,0) 70.71%),            
                linear-gradient(127deg, rgb(99, 59, 0), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(94, 0, 0, 0.8), rgba(0,0,255,0) 70.71%);
    color: yellow;
    font-size: 30px;
    font-family: cursive;
}

.kocka {
    flex: 0 0 calc(10% - 3px);
    aspect-ratio: 1 / 1;
    background-color: black;
}

.talaj{
    background-image: url("kepek/talaj.png");
    background-position: center;
    background-size: cover;
}

.fal{
    background-image: url("kepek/fal.png");
    background-position: center;
    background-size: cover;
}

.blokad{
    background-image: url("kepek/blokad.png");
    background-position: center;
    background-size: cover;
}

#nemTamogatott {
    display: none;
    width: 100vw;
    text-align: center;
}

@media screen and ((max-width: 500px) or (max-height: 280px)) {
    main {
        display: none;
    }
    #nemTamogatott {
        display: block;
    }
  }


.karakter {
    width: 100%;
    height: 100%;
    background-image: url("kepek/jatekos.gif");
    background-position: center;
    background-size: cover;
}

.ellenseg {
    width: 100%;
    height: 100%;
    background-image: url("kepek/ellenseg.gif");
    background-position: center;
    background-size: cover;
}